<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Vue</title>
    <script src="https://unpkg.com/vue@3.4.37/dist/vue.global.js"></script>
</head>
<body>

<main id="app">

    <h2>
        <span @click="dbName='1'">1</span>
        <span @click="dbName='2'">2</span>
    </h2>
    <ul v-if="dbName === '1'">
        <li>
            {{dbName}}
        </li>
    </ul>
    <ul v-if="dbName === '2'">
        <li>
            {{dbName}}
        </li>
    </ul>

</main>

<script type="text/javascript">
  const Test = {
    data() {
      return {
        databases: [],
        dbName: '1',
      }
    },
    methods: {
      addDatabase: () => {
        console.log(this.dbName)
      }
    },
    mounted() {

    }
  }
  Vue.createApp(Test).mount('#app')
</script>

</body>
</html>
